{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ]
  },
  "ignorePatterns": ["node_modules/*", "dist/*"],
  "overrides": [
    {
      "files": "*.ts",
      "rules": {
        "no-unused-vars": "warn",
        "simple-import-sort/imports": "error"
      },
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
